body {
    background-color: rgb(87, 50, 13);
}
.menu{
    padding-top:5px;
}
.menu__link{
    display: flex;
    flex-direction: row;
    
}
.menu__link:hover{
    text-decoration: none;
    color:aliceblue;
}