body {
  background-color: rgb(87, 50, 13);
}
.menu {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__link_home {
  color: white;
  text-decoration: none;
}
.menu__link_about {
  color: white;
  text-decoration: none;
}
